footer{
    width: 100%;
}
footer img{
    max-width: 20px;
}
.footer--nomes,
.dados{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
footer h3,
footer img{
    margin-left: 10px;
}
